body {
  padding: 0;
  margin: 0;
  min-height: 100vh;
}

canvas {
  padding: 0;
  margin: 0;
}

.container {
  position: absolute;
  top: 5%;
  color: whitesmoke;
  text-shadow: 2px 2px 7px black;
  font-family: "Source Sans Pro";
  font-size: 30px;
  font-weight: 700;
  padding: 50px;
  text-align: center;
}

#time {
  display: inline-block;
}

#content {
  padding: 10px;
  background: rgba(255, 255, 255, 0.15); /* transparent */
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px); /* Safari */

  border-radius: 16px;

  /* soft border */
  border: 1px solid rgba(255, 255, 255, 0.25);

  /* optional depth */
  box-shadow:
    0 8px 32px rgba(0, 0, 0, 0.2),
    inset 0 0 0 1px rgba(255, 255, 255, 0.1);
}

#heart-container {
  display: flex;
  justify-content: center;
}

#heart {
  width: 100px;
  height: 100px;
  background-image: url("./images/heart.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}
